@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

#hero{
    /* I set this high 652*0.9. Because of my display. */
    height: 587px;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    background-position: absolute;
    display: flex;
    justify-content: absolute;
    align-items: absolute;
    margin-bottom: 74px;
}

#hero .hero-content{
    width: 898px;
    margin: 0px auto;
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

#hero .hero-content .title{
    margin-top: 20px;
    color: rgb(13, 19, 33);
    /* font-family: Azeret Mono; */
    font-size: 45px;
    font-weight: 640;
    line-height: 54px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 15px;
}

#hero .hero-content .content{
    color: rgb(13, 19, 33);
    /* font-family: Azeret Mono; */
    font-size: 15px;
    font-weight: 320;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 25px;
}

.btn{
    
    padding: 17px 24px 17px 24px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 480;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    border: none;
    margin-bottom: 35px;
}

.btn-container{
    cursor: pointer;
    text-align: center;
}

#why-web-dev {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 97px 80px 97px;
    background: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
}


.header {
    text-align: center;
    margin-bottom: 40px;
}

.wwd-head {
    color: rgb(13, 19, 33);
    font-size: 26px;
    font-weight: 800;
    line-height: 37px;
    margin-bottom: 10px;
}

.wwd-paragraph {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.reasons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
}

.reason {
    width: 757px;
    height: 269px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    padding: 38px;
    border: 0px;
    border-radius: 8px;
}

.reason1 {
    width: 757px;
    height: 269px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    padding: 38px;
    border: 0px;
    border-radius: 8px;
}


.reason img {
    max-width: 300px;
    margin-left: 217px;
}

.reason-content h3 {
    color: rgba(13, 19, 33, 0.7);
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}

.reason-content p {
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin: 16px 0px;
}

.reason-content button {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;    
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 79px;
}


.inspiration{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.head{
    color: rgb(13, 19, 33);
    font-size: 29px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 22px;
}

.paragraph{
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 43px;
}

.inspiration .video{
    padding: 29px 29px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-bottom: 165px;
}


/* .target{
    width: 1026px;
    margin: 100px 0px;
} */

.target .currenttarget{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}


.learned{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.learned .learneddisplay{
    max-width: 250px;
    gap: 20px;
}

.learned .learnedhead{
    color: rgb(13, 19, 33);
    font-size: 22px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.learned .learnedparagraph{
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;
}


#background{
    margin-top: 80px;
    background-image:url(../assets/handshake.jpg);
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    display: flex;
    justify-content: absolute;
    align-items: absolute;
    padding: 64px 48px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#background .last{
    margin: 0px auto;
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    /* gap: 20px; */
}

.last .box{
    width: 493px;
    height: 51px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 16px 18px;
}

.last .submitbox{
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 486;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    padding: 15px 20px 15px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: 0px;
}


.last{
    margin-top: 71px;
    padding: 32px 150px 32px 150px;
    height: 90px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}

.last .lastdiv{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 0px;
}

.lasthead{
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
}

#lastlastdiv{
    display: flex;
    flex-direction: row;
    gap: 22px;
    justify-content:center;
    align-items: flex-start;
}